<div>
  <div class="row">
    <!--Userのプロフィール-->
    <div class="col-md-3">
      <%= attachment_image_tag @user, :image_id, fallback:"sample.jpg", size: "150x150" %>
    </div>
    <div class="col-md-6 ">
      <li>ユーザー名 <%= @user.name %></li>
      <li>メールアドレス <%= @user.email %></li>
      <li>国籍 <%= @user.my_country %></li>
      <li>自己紹介 <%= @user.introduction %></li>
      <li>投稿数: <%= @user.reviews.count %></li>
      <li>いいねしてもらった数: <%= @user.likes.count %></li>
      <li>コメント数</li>
      <% if current_user.id == @user.id %>
        <li>お気に入り:
          <%= link_to favorite_path(@user) do %>
            <%= @user.favorites.count %>
          <% end %>
        </li>
      <% end %>
      <%= link_to "編集", edit_user_path(current_user) %>
      <%= link_to "設定"%>
    </div>
  </div>
</div>

<!--投稿した一覧-->
<div>
  <tbody>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>レストラン画像</th>
		      <th>レストラン名</th>
		      <th>エリア</th>
		      <th>ジャンル</th>
		      <th>レビュー内容</th>
		      <th></th>
		    </tr>
      </thead>

      <% @reviews.each do |review| %>
        <tr>
          <th>
            <%= link_to review_path(review.id) do %>
		      		<%= attachment_image_tag review, :image_id, fallback:"sample.jpg", size: "100x100" %>
		      	<% end %>
          </th>
  	      <th><%= review.name %></th>
  	      <th><%= review.country.name %></th>
  	      <th><%= review.genre.name %></th>
  	      
  	      <th><%= review.content %></th>
  	      <th></th>
  	    </tr>
		  <% end %>
    </table>
  </tbody>
</div>