<h1>Webサイトからお問い合わせがありました。</h1><br/>
Email: <%= @inquiry.email %><br/>
Name:  <%= @inquiry.name %><br/>
<p><strong><%= @inquiry.title %></strong>について、
<h3><%= @inquiry.name %>様からお問い合わせ内容は以下です。</h3>
<br/>
<p><%= @inquiry.message %></p>