<div class="row">
	<div>
		<%= paginate @reviews %>
	</div>
	
	<tbody>
		<table class="table none">
		  <thead class="thead-dark">
		    <tr>
	    	  <th></th>
		      <th>レストラン名</th>
		      <th>ジャンル</th>
		      <th></th>
		      <th>レビュー内容</th>
		      <th></th>
		    </tr>
		  </thead>
		  
		  <% @reviews.each do |review| %>
		    <tr>
		      
		      <th>
		      	<%= link_to review_path(review.id) do %>
		      		<!--レビュー画像-->
			      	<% review.review_images.each do |image| %>
			      		<%= attachment_image_tag image, :image, fallback:"review-image.jpg", size: "300x200" %>
			      	<% end %>
		      	<% end %><br/>
		      	<!--いいね＆お気に入り-->
		      	<!--自分の投稿には表示しない-->
		      	<% if current_user.id != review.user.id %>
			      	<%= render "favorite", review: review %>
			      	<%= render "like", review: review %>
		      	<% end %>
		      	
		      </th>
		      
		      <!--レストラン名-->
		      <th>
		      	<%= link_to "クリック！", review_path(review.id) %><br/>
		      	<%= link_to review.name, review_path(review.id) %><br/>
		      	<p>エリア: <%= review.country.name %></p>
		      </th>
		      
		      <!--ジャンル名-->
		      <th>
		      	<% review.review_genres.each do |review_genre| %>
		      		<%= attachment_image_tag review_genre.genre, :image, size: "30x30" %>
							<!--<= review_genre.genre.name %>-->
						<% end %>
					</th>
					<th>
						<!--タグ-->
						<% review.tag_list.each do |tag| %>
							<%= image_tag "tag.png", size: "15x15" %><%= tag %>
						<% end %>
					</th>
					<th>
		      	<%= attachment_image_tag review.user, :image, fallback:"sample.jpg", size: "50x50" %><br/>
		      	<%= link_to review.user.name, user_path(review.user.id) %>
		      </th>
					<th><%= review.content %></th>
		    </tr>
		  <% end %>
		  
		</table>
	</tbody>
</div>
