<div>
  お気に入り一覧
  <tbody>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>レストラン画像</th>
          <th>レストラン名</th>
          <th>エリア</th>
          <th>ジャンル</th>
        </tr>
      </thead>
      
      <% @favorites.each do |favorite| %>
      <tr>
        <th>
          <%= link_to review_path(favorite.review.id) do %>
            <%= attachment_image_tag favorite.review, :image_id, fallback:"sample.jpg", size: "80x80" %>
          <% end %>
          <%= link_to favorite.user.name, user_path(favorite.user.id) %>
        </th>
        <th><%= link_to favorite.review.name, review_path(favorite.user.id) %></th>
        <th><%= favorite.review.country.name %></th>
        <th><%= favorite.review.genre.name %></th>
      </tr>
      <% end %>
    </table>
  </tbody>
</div>