<div class="back-image d-flex align-items-center justify-content-center">
  <div class="">
    <!--title-->
    <p class="top-main-title link-none">Check Up <span>Rest</span>aurants</p>
    <div>
      <div class="top-message">
        <p class="link-none">
          ようこそ！！<br/>
          　お越しいただきありがとうございます。<br/>
          　　皆様の知っている<span>海外・国内</span>のおすすめのレストランを広めませんか？<br/>
          　　そして、このサイトを立ち上げた目的は<%= link_to "ここに", about_path %>あります。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="">
  <% if  user_signed_in? %>
    <div class="flex"><%= link_to "review一覧はこちら", reviews_path %></div>
  <% else %>
  <% end %>
</div>
<div class="">
  <div class="autoplay">
    <div class=""><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
  </div>
</div>