<div class="back-image d-flex align-items-center justify-content-center">
  <div class="">
    <!--title-->
    <p class="top-main-title link-none">Check Up <span>Rest</span>aurants</p>
    <div>
      <div class="top-message">
        <p>
          ようこそ！！<br/>
          　お越しいただきありがとうございます。<br/>
          　　皆様の知っている<span>海外・国内</span>のおすすめのレストランを広めませんか？<br/>
          　　そして、このサイトを立ち上げた目的は<%= link_to "ここに", about_path %>あります。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if  user_signed_in? %>
    <div class="text-center">
      <p class="current_user">
        こんにちは！何をする？<br/>
        レストランを知りたい!▶ <%= link_to "一覧",  reviews_path %><br/>
        おすすめのレストランを広めたい！▶ <%= link_to "投稿", new_review_path %>
      </p>
    </div>
  <% else %>
    <div class="text-center">
      <p class="gestuser">
        こんにちは！<br/>
        あなたは食べることが好き？旅行は好き？<br/>
        あなたのおすすめの海外、国内のレストランを広めよう！<br/>
        さぁ！まだ知らないレストランにいきませんか？！▶ <%= link_to "登録はここから", users_account_path %>
      </p>
    </div>
  <% end %>
</div>
<div class="container-fluid">
  <div class="topauto">
    <div><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
</div>