<div class="back-image d-flex align-items-center justify-content-center">
  <div class="">
    <p class="top-main-title">Check Up Restaurants</p>
  </div>
</div>
<div class=text-center>
  <li><%= link_to "Twitter", user_twitter_omniauth_authorize_path %></li>
  <li><%= link_to "Google", user_google_oauth2_omniauth_authorize_path %></li>
  <li><%= link_to "Github", user_github_omniauth_authorize_path %></li>
  <div><%= link_to "review一覧はこちら", reviews_path %></div>
  <div><%= link_to "About", about_path %></div>
</div>
<div class="">
  <div class="autoplay">
    <div class=""><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-3.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-4.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-1.jpg", class: "boxsize" %></div>
    <div class=""><%= image_tag "topimage-2.jpg", class: "boxsize" %></div>
  </div>
</div>