<div class="none">
  <%= render "admin/homes/nav" %>
  
  <h3 class="text-center">ジャンル一覧</h3>
  <!--管理者へメッセージ-->
  <div class="text-center">
    <!--target="_blank" rel="noopener noreferrer"でセキュリティとパフォーマンス対策-->
    <div>
      <p>※アイコンはジャンル名に適したアイコンを使用して下さい。<br/>
        以下のリンクのサイトからアイコンをダウンロードしファイルを選択することで利用できます。<br/>
        <li><a href='https://icons8.jp/' target="_blank" rel="noopener noreferrer">icons8</a>（おすすめ）</li>
        <li><a href='https://icon-icons.com/ja/' target="_blank" rel="noopener noreferrer">icon-icons</a></li>
        また、ここでアイコンをアップロードと<span class="red">直ちにユーザーに反映されます</span>ので<strong>お気をつけ下さい。</strong>
      </p>
    </div>
    
    <div>
      <%= form_with model:@genre, url:admin_genres_path, local:true do |f| %>
        <%= render "layouts/error_message", hoge: @genre %>
        <div>
          <p>[アイコンを登録して下さい]</p>
          <%= f.attachment_field :image %>
        </div>
        <div>
          <p>[ジャンル名]</p>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "有効", {value: :true} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "無効", {value: :false} %>
        </div>
        
        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
      <div><%= paginate @genres %></div>
    </div>
  </div>
  
  <tbody>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>アイコン</th>
          <th>ジャンル名</th>
          <th>状態</th>
          <th> </th>
        </tr>
      </thead>
      
      <% @genres.each do |genre| %>
        <tr>
          <th><%= genre.id %></th>
          <th><%= attachment_image_tag genre, :image, fallback:"sample.jpg", size: "30x30" %></th> 
          <th><%= genre.name %></th>
          <th><%= genre.is_active == true ? "有効" : "無効" %></th>
          <th><%= link_to "編集", edit_admin_genre_path(genre) %></th>
        </tr>
      <% end %>
    </table>
  </tbody>

</div>