<div class="container">
  <h3>ジャンル一覧</h3>
<div>
  <p><%= link_to "スタイル>>", admin_styles_path %></p>
  <p><%= link_to "国名>>", admin_countries_path %></p>
</div>

<div>
  <%= form_with model:@genre, url:admin_genres_path, local:true do |f| %>
    <%= f.label "ジャンル" %> <%= f.text_field :name %>
    
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "有効", {value: :true} %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "無効", {value: :false} %>
    
    <%= f.submit "追加" %>
  <% end %>
</div>

<tbody>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>ジャンル名</th>
        <th>状態</th>
        <th> </th>
      </tr>
    </thead>
    
    <% @genres.each do |genre| %>
      <tr>
        <th><%= genre.id %></th>
        <th><%= genre.name %></th>
        <th><%= genre.is_active == true ? "有効" : "無効" %></th>
        <th><%= link_to "編集", edit_admin_genre_path(genre) %></th>
      </tr>
    <% end %>
  </table>

</tbody>

</div>