<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Top", admin_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Genre", admin_genres_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Style", admin_styles_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Country", admin_countries_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Currency", admin_currencies_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか", class: "nav-link" %>
  </li>
</ul>