<div class="row">
	<%= link_to "新規reviewはこちら>> ", new_review_path %>
	
	<tbody>
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
	    	  <th>レストラン画像</th>
		      <th>レストラン名</th>
		      <th>ジャンル</th>
		      <th>レビュー内容</th>
		    </tr>
		  </thead>
		  
		  <% @reviews.each do |review| %>
		    <tr class="none">
		      <th>
		      	<!--レビュー画像-->
		      	<%= link_to review_path(review.id) do %>
		      		<%= attachment_image_tag review, :image, fallback:"sample.jpg", size: "80x80" %>
		      	<% end %><br/>
		      	<!--いいね＆お気に入り-->
		      	<!--自分の投稿には表示しない-->
		      	<% if current_user.id != review.user.id %>
			      	<%= render "favorite", review: review %>
			      	<%= render "like", review: review %>
		      	<% end %>
		      	<%= review.country.name %>
		      </th>
		      <!--レストラン名-->
		      <th><%= review.name %></th>
		      <!--ジャンル名-->
		      <th>
		      	<% review.review_genres.each do |review_genre| %>
		      		<%= attachment_image_tag review_genre.genre, :image, fallback:"sample.jpg", size: "20x20" %>
							<!--<= review_genre.genre.name %>-->
						<% end %>
					</th>
					<th><%= review.content %></th>
		    </tr>
		    <tr></tr>
		      <th></th>
		  <% end %>
		</table>
	</tbody>
</div>
