<div class="row">
	<div>
		
	</div>
	
	<tbody>
		<table class="table none">
		  <thead class="thead-dark">
		    <tr>
	    	  <th>レストラン画像</th>
		      <th>レストラン名</th>
		      <th>ジャンル</th>
		      <th>レビュー内容</th>
		    </tr>
		  </thead>
		  
		  <% @reviews.each do |review| %>
		    <tr>
		      <th>
		      	<%= link_to review_path(review.id) do %>
		      		<!--レビュー画像-->
			      	<% review.review_images.each do |image| %>
			      		<%= attachment_image_tag image, :image, fallback:"review-image.jpg", size: "300x200" %>
			      	<% end %>
		      	<% end %><br/>
		      	<!--いいね＆お気に入り-->
		      	<!--自分の投稿には表示しない-->
		      	<% if current_user.id != review.user.id %>
			      	<%= render "favorite", review: review %>
			      	<%= render "like", review: review %>
		      	<% end %>
		      	<%= review.country.name %>
		      </th>
		      
		      <!--レストラン名-->
		      <th><%= link_to review.name, review_path(review.id) %></th>
		      
		      <!--ジャンル名-->
		      <th>
		      	<% review.review_genres.each do |review_genre| %>
		      		<%= attachment_image_tag review_genre.genre, :image, fallback:"sample.jpg", size: "40x40" %>
							<!--<= review_genre.genre.name %>-->
						<% end %>
					</th>
					<th><%= review.content %></th>
		    </tr>
		  <% end %>
		</table>
	</tbody>
</div>
