<h3 class="text-center">レビュー登録</h3>
<div>
	<div  class="row">
		<%= form_with model: @review, url: reviews_path, local:true do |f| %>
			<div>
				<%= f.label "レストラン画像" %>
				<%= f.file_field :image %>
			</div>
			<div>
				<%= f.label "レストランの名前" %>
				<%= f.text_field :name, class: "col-12", placeholder: "レストラン名" %>
			</div>
			<div>
				<%= f.label "エリア選択"%>
				<%= f.collection_select :country_id, Country.all, :id, :name %>
			</div>
			<div>
				<%= f.label "スタイル"%>
				<%= f.collection_select :style_id, Style.all, :id, :name  %>
			</div>
			<div>
				<%= f.label "ジャンル選択"%>
				<%= f.collection_select :genre_id, Genre.all, :id, :name  %>
			</div>
			<div>
				<%= f.label "レビュー" %>
				<%= f.text_area :content, class: "col-12", placeholder: "レビュー内容はここに" %>
				
			</div>
			<div>
				<%= link_to "<<一覧に戻る", reviews_path %>
				<%= f.submit "投稿", class: "btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
