<div class="none">
  <%= render "admin/homes/nav" %>
  
  <h3 class="text-center">通貨の一覧</h3>
  <div class="text-center">
    <!--管理者へメッセージ-->
    <div>
      <p>
        通貨は、<strong class="required">空白</strong>での投稿はできません。<br/>
        間違えて投稿してしまった場合、編集リンクから変更して下さい。
      </p>
    </div>
    <%= form_with model:@currency, url:admin_currencies_path, local:true do |f| %>
      <%= render "layouts/error_message", hoge: @currency %>
      
        <div>
          <p>[通貨]（例　＄）</p>
          <%= f.text_field :name %>
        </div>
      
      <div>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "有効", {value: :true} %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "無効", {value: :false} %>
      </div>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
    <div><%= paginate @currencies %></div>
  </div>
  
  <tbody>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>通貨</th>
          <th>状態</th>
          <th> </th>
        </tr>
      </thead>
      
      <% @currencies.each do |currency| %>
        <tr>
          <th><%= currency.id %></th>
          <th><%= currency.name %></th>
          <th><%= currency.is_active == true ? "有効" : "無効" %></th>
          <th><%= link_to "編集", edit_admin_currency_path(currency) %></th>
        </tr>
      <% end %>
    </table>
  </tbody>

</div>