<h3 class="text-center">レビュー編集</h3>
<div class="row">
  <div>
      <%= form_with model:@review, url:review_path, local:true do |f| %>
    <div>
      <%= attachment_image_tag @review, :image_id, :fill, 300, 300, format: 'jpeg' %>
    </div>
    <div>
  		<p>レビュー画像 <%= f.file_field :image %></p>
	  </div>
    <div>
  	  <p>レストラン名 <%= f.text_field :name %></p>
    </div>
    <div>
      <p>
        エリア選択 <%= f.collection_select :country_id, Country.all, :id, :name %> 
		  </p>
    </div>
    <div>
      <p>
        スタイル選択 <%= f.collection_select :style_id, Style.all, :id, :name %>
      </p>
    </div>
    <div>
    	<p>
    	  ジャンル選択 <%= f.collection_select :genre_id, Genre.all, :id, :name  %>
    	</p>
    </div>
    <div>
	    <p>レビュー内容　<%= f.text_area :content %></p>
    </div>
    <div>
      <%= link_to "戻る", review_path(@review.id) %>
      <%= f.submit "更新" %>
    </div>
  <% end %>
  </div>
</div>
