<!--ユーザーのプロフィール-->
<div class=" profile">
  <div class="text-right ">
    <div class="counter">
      <div>投稿数<strong class="count"><%= @user.reviews.count%></strong></div>
      <div><%= image_tag "like.png", size: "40x40"%><strong class="count"><%= @user.likes.count %></strong></div>
      <div>
        <% if current_user.id == @user.id %>
            <%= link_to favorite_path(current_user.favorites) do %>
              <%= image_tag "favorite.png", size: "35x40" %>
              <strong class="count"><%= current_user.favorites.count %></strong>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <!--ユーザー画像-->
  <div class="text-center">
    <div class="user-image">
      <%= attachment_image_tag @user, :image, fallback: "user-image.png", size: "200x200", class: "rounded-circle" %><br/>
      <strong class="user-name"><%= @user.name %></strong>
    </div>
    <div class="button">
      <% if current_user.id == @user.id %>
        <%= @user.email %>  <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "edit-link btn btn-outline-primary" %>
      <% else %>
        <%= render "public/relationships/follow_button", user: @user %>
      <% end %>
    </div>
  </div>
  
  <div class="intro text-center"><%= @user.introduction %></div>
  <div class="row follow">
    <div><strong><%= @user.followings.count %></strong>フォロー中</div>
    <div><strong><%= @user.followers.count %></strong>フォロワー</div>
    <div class="country">
      <%= image_tag "country.png", size: "25x25" %>
      <%= @user.my_country %>
    </div>
  </div>
</div>
<!--/ユーザーのプロフィール-->


<!--投稿した一覧-->
<% @reviews.each do |review| %>
  <div class="row none-clear review-box">
    
    <!--レビュー画像-->
    <div class="review-image col-md-4 text-center">
      <%= link_to review_path(review.id) do %>
        <div class="autoplay"><!--スライダー-->
          <% review.review_images.each do |image| %>
            <%= attachment_image_tag image, :image, fallback:"review-image.jpg", size: "200x100" %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <!--レストラン詳細-->
    <div class="review col-md-8">
        <div class="review-title">
          <div class=""><!--レストラン名-->
            <h3 class="restrant-name"><%= link_to review.name, review_path(review.id) %></h3>
            <p class="restrant-details">[<%= review.country.name %>] / <%= review.style.name %></p>
          </div>
        </div>
        
        <div class="review-tag"><!--タグ-->
          <% review.tag_list.each do |tag| %>
            <%= image_tag "tag.png", size: "23x23" %><%= tag %>
          <% end %>
        </div>

        <div class=" row user-content"><!--ユーザーの情報-->
          <!--ユーザー画像-->
          <div class="link-none col-md-1">
            <%= link_to user_path(review.user.id) do %>
              <div class="text-center user-name">
                <%= attachment_image_tag review.user, :image, fallback:"sample.jpg", size: "50x50", class: "rounded-circle"%>
              </div>
            <% end %>
          </div>
          <!--レビュー内容-->
          <div class="review-content col-md-9"><%= review.content %></div>
        </div>

        <div><p>予算：<span><%= review.currency.name %> <%= review.budget %></span></p></div>
        <div>
          <p>
            いいね数(<%= review.likes.count %>)<br/>
            コメント数(<%= review.review_comments.count %>)件
          </p>
        </div>
        <div class="review-genre"><!--ジャンル-->
          <% review.review_genres.each do |review_genre| %>
            <%= attachment_image_tag review_genre.genre, :image, size: "27x27" %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
