<!DOCTYPE html>
<html>
  <head>
    <title>CheckUpRestaurants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="col-12 clearfix">
        <%= link_to root_path do %>
          <h5>Check Up Restaurants</h5>
        <% end %>
        
        <div class="float-right">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", my_page_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか" %></li>
              <li>設定</li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
        
      </div>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>
      
    <footer class="backcolor">
      <div>フッター</div>
    </footer>
  </body>
</html>
