<!DOCTYPE html>
<html>
  <head>
    <title>CheckUpRestaurants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body class="wallpaper">
    <div class="wrapper">
      <header>
        <!--LOGO-->
        <nav class="navbar navbar-expand-lg nav">
          <p class="logo">Check Up <span class="red">Rest</span>aurants</p>
        
        <!--Navigation-->
          <ul class="navbar-nav justify-content-end">
            <!--current_user-->
            <% if user_signed_in? %>
                <!--home_page-->
              <li>
                <%= link_to root_path do %>
                  <%= image_tag "home.icon.png", size: "50x50" %>
                <% end %>
              </li>
                <!--drop_down-->
              <li><%= render "layouts/nav.drop" %></li>
            <% elsif admin_signed_in? %>
              <!--admin-->
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか", class: "btn btn-primary" %></li>
            <% else %>
              <!--guest-->
            <% end %>
          </ul>
        <!--//Navigation-->
        </nav>
      </header>
      
      <div class="container-fluid">
        <!--<div class="mx-auto">-->
          <!--<div class="col-xs-12">-->
            <div class="text-center"><%= render "layouts/flash_messages"%></div>
            <%= yield %>
          <!--</div>-->
        <!--</div>-->
      </div>
      
      <footer class="">
        <div class="text-right inquiry-link">
          <%= link_to inquiry_path do %>
            <p>お問い合わせはこちらから
              <%= image_tag "inquiry.png", size: "30x30" %>
            </p>
          <% end %>
        </div>
      </footer>
    </div>
  </body>
</html>
